header{
    padding :15px;
    background-color: #EFEFEF;
    font-size: large;
}


header ul{

    list-style-type: none;
    float :right;

}
header a{
    text-decoration: none;
}
header span{

    color: brown;

}
header ul li {
    display: inline;
    width: 35px;
    margin-left: 33px;
}

.container h2 {
    
    font-size: 4rem;
    padding: 10px;
    line-height: 55px;
    color: gray;
}
#plate, #donut{
    max-width: 75%;
    display: block;
    margin-top: 6px;
    
}
#purple_container {
    background-image: url('./images/foodbg.jpg');
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.cut{
    background: #fff;
    position: absolute;
    top: -20%;
    left: -20%;
    width: 120%;
    height: 30%;
    transform-origin: center-top;
    transform: rotate(-3deg);
}
html{
    color:white;
}